.todo_container {
  width: clamp(400px, 40%, 500px);
  margin-inline: auto;
  padding: 1.5rem 1rem;
  border-radius: 8px;
}
.title {
  width: fit-content;
  border-bottom: solid 3px var(--clr-primary);
}
.todo_container form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.todo_container form button {
  width: 100%;
  border-color: var(--clr-primary);
  background-color: rgba(0, 0, 0, 0);
}
.todo_container form button:hover {
  background-color: var(--clr-primary);
  color: #fff;
}

.banner {
  text-align: center;
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
  opacity: 0;
  border-radius: 5px;
}
.banner h6 {
  margin: 0 !important;
}

.clear_btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--bs-danger);
  margin-top: 1rem;
  width: max-content;
  margin-inline: auto;
}
